@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Montserrat&display=swap');

/* 
--charcoal: #3b4046ff;
--middle-red: #dd917aff;
--silver-pink: #b0a099ff;
--beige: #f3f3dfff;
--gold-metallic: #c7a632ff; */

body { background-color: #3b4046;
    color: #f3f3dfff; 
    font-family: 'Montserrat', 'Raleway', 'Open Sans', sans-serif;
}

main { margin: 5%; }


header {
    font-family: 'Futura', 'Oswald', 'Avenir', sans-serif;
    background-color: #b0a099ff;
    color: black;
    margin: 0;
    padding: 12px;
    text-align: center;
}

.intro__img {
    border-radius:  45%;
    width: 90%;
    height: 90%;

}

.intro__img__container {
    position: relative;
    width: 55%; 
 }

.credit-overlay {
    position: absolute;
    bottom: 0;
    background: rgba(176, 149, 152, 0.918);
    width: 78%;
    transition: .5s ease;
    opacity:0;
    color: #3B4046;
    font-size: 16px;
    font-weight: bolder;
    padding: 20px;
    text-align: center;
    border-radius: 50%;
}

.intro__img__container:hover .credit-overlay { opacity: 1; }

.form__title {
    font-size: 25px; 
    letter-spacing: 1.2pt;
    margin-bottom: 3px;
    margin-left: 0;
    padding: 0; 
}


form {
 padding: 20px;
 background-color: #34383d;
 border: 1px solid #b0a099;
}

fieldset {
    padding-left: inherit;
    border: none;
}

input[type="checkbox"] {
    margin-bottom: 8px;
    margin-right: 5px;
}

legend {
    margin-bottom: 0;
    padding-bottom: 0;
}

.label {
    margin-bottom: 5px;
    font-size: 18px;
    display: block;
    color: #ffd640;
}

.label--noblock {
    margin-left: 1%;
    margin-bottom: 5px;
    font-size: 18px;
    color: #ffd640;
    display: inline;
}


ul {
    list-style-type: none;
    margin-top: 0;
    padding-left: 5px;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

select { width: 250px; }

h4 { font-size: 22px; }

p { font-size: 18px; }

.result__image {
    height: 400px;
    width: 300px;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}


.intro--align {
    margin: 0;
    margin-top: 10px;
    margin-left: 0;
    text-align: left;
}

.results__title {
    font-variant: small-caps;
    font-size: 28px;
    letter-spacing: 1.5pt;
}


/* Flex Properties */

.group {
    display: flex;
    flex-direction: column;
}

.intro__group {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.form__group{
    display: flex;
    flex-direction: column;
}

.recipe-list__group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.item {
    flex: 1;
    flex-shrink: 0;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.item-double {
    flex-grow: 2;
    flex-shrink: 0;
    flex-basis: auto;
}


.button__submit {
    display: inline;
    margin-left: 20px;
    margin-top: 15px;
    height: 50px;
    width: 110px;
    border-radius: 10px;
    background-color: #c7a632;
}

footer {
    border-top: 1px solid #c7a632ff;
}


/* Desktop */

@media all and (min-width: 600px) {
    
    .group {
        display: flex;
        flex-direction: row;
    }

    .label--noblock {
        margin-left: 25%;
        margin-bottom: 5px;
        font-size: 18px;
        color: #ffd640;
        display: inline;
    }
    
    .intro__group {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .form__group {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: space-between;
    }

    .recipe-list__group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;

    }


    .item, .item-double {
        margin-left: 20px;
    }

    .item__result__recipe {
        flex-grow: 0;
        flex-shrink: 2;
        flex-basis: 0;
    }

    .item__result__drink {
        flex-grow: 0.5;
        flex-shrink: 3;
        margin-left: 20px;
    }

    .form__title {
        margin-left: 10%
    }

    form {
        margin-left: 8%;
        margin-right: 8%;
    }

    
    ul {
        list-style-type: none;
        padding-left: 0;
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
    }

    .intro--align {
        margin-top: 3%;
    }

    .intro__img {
        border-radius:  15%;
        width: 100%;
        height: 100%;
    
    }

    .credit-overlay {
        width: 100%;
    }

    .results__container {
        margin-left: 10%;
    }

    .results__list {
        margin-left: 0;
        padding-left: 0;
    }

    .result__image {
        height: 480px;
        width: 360px;
    }

    .recipe__title--inline {
        display: inline;
    }

    .button--inline {
        display: inline;
    }


    
}

a:link { color: #D2C6C1; }
a:visited { color: #dd917a;  }
a:hover { color: #86695e; }
a:active { color: #c7a632ff; }